header {
    font-family: sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}

.ul-container-1 {
    margin: 0;
    display:flex;
    text-decoration: none;
}
.ul-container-2 {
    margin-right: 50px;
    display:flex;
    margin: 0;
}

ul li  {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    width: 100px;
    height:50px;
}

a {
    text-decoration: none;
    color: #000;
}

a img {
    width: 10px;
}

header nav ul li:hover {
    color: #000;
    background-color: #999;
    transition: .8s;
}







table {
    border: 1px solid #000;
}
th {
    border: 1px solid #000;

}
td {
    border: 1px solid #000;

}